.App {
    text-align: center;
}

.num {
    text-align: center;
    padding: 32px 32px;
    margin: 2px 2px;
    background-color: whitesmoke;
}

.ope {
    text-align: center;
    padding: 32px 32px;
    margin: 2px 2px;
    background-color: gray;
}

.display {
    margin-top: 10px;
    margin-bottom: 2px;
}

input {
    text-align: right;
    font-size: 20px;
}

button {
    font-size: 20px;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0);
}